* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

/* HEADER */
.main-header {
    padding: 20px 0;
    color: white;
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.main-header .main-header__row {
    align-items: center;
}

.main-header .main-header__row,
.main-footer .main-footer__row  {
    display: flex;
    justify-content: space-between;
}

.main-header .main-nav,
.main-header .icons {
    display: flex;
    gap: 20px;
}

.main-header .logo {
    width: 140px;
}

/* MAIN */
main {
    padding-top: 75px;
}

.section {
    padding: 60px 0 10px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    padding: 0 15px;
    margin-bottom: 50px;
}

.col-4 {
    width: calc(100% / 3);
}

/* CARD */
.card-top {
    position: relative;
}

.card .like-icon {
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    line-height: 50px;
    font-size: 35px;
    text-align: center;
    background-color: white;
}

.card .label-container {
    position: absolute;
    bottom: 40px;
    left: 0;
}

.card .label {
    line-height: 23px;
    padding: 10px;
    color: white;
}

.card .label--sale {
    background-color: red;
    font-weight: 700;
}

.card .label--sostenibility {
    background-color: green;
    font-weight: 700;
}

.card .card__product {
    text-transform: uppercase;
}

.card .card__sale {
    color: red;
    font-weight: 700;
}

.card .card__price {
    text-decoration: line-through;
}

.card .image-hover {
    display: none;
    transition: all 300ms ease-in-out;
}

.card:hover .image-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

/* FOOTER */
.main-footer {
    background-color: #1A1A1A;
    color: white;
    padding: 25px 0;
}

.main-footer .privacy-information,
.main-footer .social-icons {
    display: flex;
    gap: 20px;
}

.main-footer .social-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}