* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

/* HEADER */
.main-header {
    padding: 20px 0;
    color: white;
    background-color: #FF6900;
}

.main-header .main-header__row {
    display: flex;
    justify-content: space-between;
}

.main-header .main-nav,
.main-header .icons {
    display: flex;
    gap: 20px;
}

.main-header .logo {
    width: 140px;
}

/* MAIN */
.section {
    padding: 60px 0 10px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    padding: 0 15px;
    margin-bottom: 50px;
}

.col-4 {
    width: calc(100% / 3);
}

/* CARD */
.card-top {
    position: relative;
}

.card .like-icon {
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    line-height: 50px;
    font-size: 35px;
    text-align: center;
    background-color: white;
}

.card .label-container {
    position: absolute;
    bottom: 40px;
    left: 0;
}

.card .label {
    line-height: 23px;
    padding: 10px;
    color: white;
}

.card .label--sale {
    background-color: red;
    font-weight: 700;
}

.card .label--sostenibility {
    background-color: green;
    font-weight: 700;
}

.card .card__product {
    text-transform: uppercase;
}

.card .card__sale {
    color: red;
    font-weight: 700;
}

.card .card__price {
    text-decoration: line-through;
}




/* DEBUG */
.debug .card * {
    /* border: 1px solid black; */
}